/* main tags */

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(255, 252, 230);
}

h1 {
  font-size: 5vw;
  text-align: center;
}

/*div {
  border-style: solid;
  border-color: rgb(156, 234, 255);
}*/

ul {
  list-style-type: none;
}

/* div/span classes */

.user-happiness {
  margin-left: 20px;
}

.user-name {
  margin-left: 20px;
  margin-right: 20px;
}

.task-name {
  margin-left: 20px;
}

/* delete button */

.delete-button {
	border:1px solid transparent;
	background-color: transparent;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.delete-button:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
