/* main tags */

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(255, 252, 230);
}

h1 {
  font-size: 5vw;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 3vw;
  margin-bottom: 25px;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* item */

.line-item {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* user */

.user {
  margin-right: 20px;
}

.user-happiness {
  margin-left: 20px;
  margin-right: 20px;
}

.user-name {
  margin-left: 20px;
  margin-right: 20px;
}

.modal-button {
  margin-left: 20px;
  margin-right: 10px;
}

/* task */

.task {
  margin-right: 20px;
}

 /* add */

.add-form {
  margin-bottom: 50px;
  text-align: center;
}

.add-form-input {
  margin-left: 10px;
  margin-right: 10px;
}
